{% extends "flights/layout.html" %} {% block body %}
<h1>Flight: {{ flight.id }}</h1>

<ul>
  <li>Origin: {{ flight.origin }}</li>
  <li>Destination: {{ flight.destination }}</li>
  <li>Duration: {{ flight.duration }}</li>
</ul>

<h2>Passengers</h2>
<ul>
  {% for passenger in passengers %}
  <li>{{ passenger }}</li>
  {% empty %}
  <li>No Passengers.</li>
  {% endfor %}
</ul>
<!-- Actuall create the add the Form , a form whose action is url of a book-->
<h2>Please a Passenger</h2>

<form action="{% url 'flights:flight' flight.id %}" method="post">
  {% csrf_token %}
  <select name="passenger">
    <!-- Get and loop through every non passenger -->
    {% for passenger in non_passengers %}
    <option value="{{ passenger.id }}">{{ passenger }}</option>
    {% endfor %}
  </select>
  <input type="submit" />
</form>

<a href="{% url 'flights:index' %}">Back to Flight List</a>
{% endblock %}
